<a href="https://colab.research.google.com/github/susandarlin/MMDT_T-PY101_Batch03/blob/main/Ex_2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [ ]:
str = "My name is python"
print(len(str))

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [ ]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s_lower_case = s.lower()
count = s_lower_case.count("python")
print(s_lower_case)
print("The number of times 'python' => {}".format(count))

floating-point values in python are always done in double precision; hence, python float types correspond to doubles in a c-like language.
The number of times 'python' => 2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [ ]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]

ls3 = ls1 + ls2
print(ls3)
print("Number of elements in new list  => ", len(ls3))

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'cherry']
Number of elements in new list  =>  8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [ ]:
dictionary = [
    {"Name": "Myo", "Age": 32},
    {"Name": "Thida", "64": 32}
]
print(dictionary)

[{'Name': 'Myo', 'Age': 32}, {'Name': 'Thida', '64': 32}]

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [9]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "staus", "Education"}
set3 = set2.union(set1)
print(set3, ". Count is " , len(set3))

{'Education', 'Name', 'staus', 'Height', 'age'} . Count is  5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [12]:
str = input("Enter a string :")
new_string = str.replace(str[1], "*") + "!!!"
print(new_string)

Enter a string :abcd
a*cd!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [14]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
result_string = s.lower().replace(",", "").replace(";", "").replace(".", "").replace(":", "").replace("-", "")
print(result_string)

floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [19]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))

set1 = set(L1)
set2 = set(L2)
diff = set1.difference(set2)
print("The missing number is :" , diff)

The missing number is : {99}

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [26]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ls1.copy()
ls2.append("blueberry")
print("List 1:" , ls1)
print("List 2:" , ls2)

List 1: ['apple', 'banana', 'cherry']
List 2: ['apple', 'banana', 'cherry', 'blueberry']